.CardGroup{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 -10px;
}
.Card {
    max-width: 250px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
}
